RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+) /3WA-projetFin/index.php [QSA,L]
DirectoryIndex index.php

# CUSTOM ERROR PAGES
ErrorDocument 404 /Views/error/404.phtml
