.wrapper {
    background-color: royalblue;
}

.exercise{
    width : 80%;
}

.exercise_box{
    width : 100%;
}

.exercise_question {
    width : 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: justify;


}

.word {

    padding: 2rem;
    margin: 2rem 1rem;
}



.gameButton {
    background-color: gold;
    border-radius: 1rem;
}
.selected {
    background-color: green;
}