:root {
    --light: white;
    --main-dark: #381a00;
    --main-darker: #1f0f00;
    --contrast: #DA1616;
}

html {
    font-family: 'Roboto', sans-serif;
    line-height: 1.75;
}

header {
    background-color: var(--main-dark);
    color: var(--light);
}

header a {
    color: var(--light);
    text-decoration: none;
}

header .logo {
    display: block;
    width: 100%;
    text-align: center;
    font-family: 'Sansita Swashed';
}

header .logo h1 {
    margin: 0;
    padding: 1rem;
}

nav {
    width: 100%;
}

nav ul {
    width: 100%;
    padding: 0;
    text-align: center;
    list-style: none;
}

nav li {
    padding: 0.5rem 0;
}

nav li:hover {
    background-color: var(--contrast);
}

.nav-subMenu {
    background-color: var(--main-darker);
    display: none;
    width: 80%;
    margin: auto;

}

.nav-menu:hover .nav-subMenu {
    display: block;
}

